@model AnimalHope.Web.Models.HomelessDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h3 class="text-center well big-text">@Model.Name</h3>
<div class="row">
    <div class="col-md-4 text-center">
        <a href="#" id="adoptHomelessAnimal" class="btn btn-primary btn-lg text-center">Adopt</a>
    </div>
    <div class="col-md-4 text-center">
        <a href="#" id="tempHomelessAnimal" class="btn btn-primary btn-lg text-center">Provide a temporary home</a>
    </div>
    <div class="col-md-4 text-center">
        <a href="#" id="vetHomelessAnimal" class="btn btn-primary btn-lg text-center">Provide vet's help</a>
    </div>

    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row" id="homelessAnimalAdopt">
    @using (Html.BeginForm("Adopt", "Homeless", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Add new description</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.ID)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary center-block" value="Adopt" />
                    </div>
                    <div class="col-md-6">
                        <input type="button" id="homelessAdoptCansel" class="btn btn-primary center-block" value="Cansel" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row" id="homelessAnimalTemp">
    @using (Html.BeginForm("AddToTemporary", "Homeless", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Add new description</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.ID)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary center-block" value="Provide" />
                    </div>
                    <div class="col-md-6">
                        <input type="button" id="homelessTempCansel" class="btn btn-primary center-block" value="Cansel" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row" id="homelessAnimalVet">
    @using (Html.BeginForm("AddToVet", "Homeless", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Add Description and vet's cost</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.ID)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CostAmount, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.TextBoxFor(m => m.CostAmount, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CostAmount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary center-block" value="Provide" />
                    </div>
                    <div class="col-md-6">
                        <input type="button" id="homelessVetCansel" class="btn btn-primary center-block" value="Cansel" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-9">
        <img src="@(Model.PictureData)" />
    </div>
    <div class="col-md-3">
        <div class="row">
            <p>
                <strong class="text-primary">Type: </strong>
                @Html.DisplayFor(m => Model.AnimalType.Name)
            </p>
        </div>
        <div class="row">
            <p>
                <strong class="text-primary">Condition: </strong>
                @Html.DisplayFor(m => Model.Condition.Name)
            </p>
        </div>
        <div class="row">
            <p>
                <strong class="text-primary">User: </strong>
                @Html.DisplayFor(m => Model.User.Email)
            </p>
        </div>
    </div>
</div>
<br />
<div class="row">
    @foreach (var description in Model.OrderedDescriptions)
    {
        <div class="col-md-12">
            <p>
                <strong class="text-primary">Description:</strong>
                @description.Text
            </p>
            <p>
                By @description.User.Email on @description.CreatedOn
            </p>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Animal/homelessAnimalDetails.js")
}