﻿@model IEnumerable<AnimalHope.Web.Models.AllAnimalsViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <img src="~/Content/Images/animalhope.jpg" class="col-md-12" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th colspan="4" class="text-center">Latest statistics</th>
                </tr>
            </thead>
            <tbody>
                <tr class="warning">
                    <th>Homeless</th>
                    <th>At vet's office</th>
                    <th>At temporary home</th>
                    <th>Adopted</th>
                </tr>
                <tr class="active">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3 col-lg-3 col-md-3">
            <div class="thumbnail">
                <a href="~/AnimalDetails/Details/@item.ID" class="btn btn-primary btn-block">View Details</a>
                <img src="@(item.PictureData)" />
                <div class="caption">
                    <h4 class="pull-right">
                        Type: @item.AnimalType.Name
                    </h4>
                    <h4 class="truncate" style="height: 40px">
                        @item.Name
                    </h4>
                </div>
                <div class="row">
                    <div class="col-md-11">
                        <p>
                            User: @item.User.Email
                        </p>
                    </div>
                    <div class="col-md-11">
                        <p>
                            Condition: @item.Condition.Name
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
