<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/Images/favicon.ico" type="image/ico" />
    <title>@ViewBag.Title - Animal Hope</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Animal Hope", "Index", "Home", new { Area = String.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Create Animal", "Create", "Animal", new { Area = String.Empty }, null)</li>
                        <li>@Html.ActionLink("Homeless", "Index", "Homeless", new { Area = String.Empty }, null)</li>
                        <li>@Html.ActionLink("At vet's office", "Index", "Vet", new { Area = String.Empty }, null)</li>
                        <li>@Html.ActionLink("At temporary home", "Index", "Temporary", new { Area = String.Empty }, null)</li>
                        <li>@Html.ActionLink("Adopted", "Index", "Adopted", new { Area = String.Empty }, null)</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Admin", "Index", "AnimalAdmin", new { Area = "Admin" }, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @if (ViewData["Error"] != null)
    {
        <div class="alert alert-dismissable alert-danger text-center">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error! </strong> @ViewData["Error"].ToString()
        </div>
    }
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-dismissable alert-success text-center">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Success! </strong> @TempData["Success"].ToString()
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-dismissable alert-danger text-center">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error! </strong> @TempData["Error"].ToString()
        </div>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Animal Hope Bulgaria</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
